$primary: #22577a;
$secondary: #0DCAF0;
$terciaria: #57cc99;
$text-color: #FFF;
$btn-color: #386641;
$hover-color: darken($btn-color, 10%);
$font1: "Jersey 25", Inter, Arial;
$font2: Inter, Arial, Tahoma;
$font3: "Press Start 2P";


body {
    background-color: #38a3a5; 
}
.navbar {
    background: $primary;
    .navbar-brand img {
        height: 100px;
    }

    .nav-link {
        font: 25px $font1;
        color: #FFF;
        text-transform: uppercase;
        &:hover {
            color: $secondary;
        }
    }

    .navbar-nav .nav-link.show {
        color: $secondary;
    }

    .dropdown-menu {
        background: $primary;
        border-radius: 0;
        border-top: 5px solid $secondary;
        .dropdown-item {
            font: 20px $font1;
            text-transform: uppercase;
            color: $secondary;
        }
    }
    .btn {
        margin-left: 5px;
    }
}

.btn {
    font: 20px $font1;
    border-radius: 0;
}

.container {
    padding: 2rem 1rem;

    h1 {
        color: $text-color;
        font-family: $font3;
        margin-bottom: 2rem;
    }

    .row {
        display: flex;
        justify-content: center;
    }
}

// Card Estilos
.card {
    background-color: $terciaria;
    border: 1px solid $primary;
    border-radius: 8px;
    overflow: hidden;
    height: 100%;

    .card-img-top {
        width: 100%;
        height: 500px; // ajuste conforme necessário
        object-fit: cover;
    }
    

    .card-body {
        padding: 1rem;

        p {
            font: 15px $font3;
            margin: 0.5rem 0;
            color: #000000;
        }

        .btn {
            background-color: $btn-color;
            color: $text-color;
            border: none;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            margin: 0.25rem;

            &:hover {
                background-color: #6a994e;
                color:#000000;
            }

            i {
                margin-right: 0.5rem;
            }
        }
    }
}


.footer {
    font: 20px $font1;
    color: #FFFFFF;
    background: $primary;
    padding: 2% 2%;
    text-align: center;
    width: 100%; 
    height: 100px;

    p {
        margin: 0;
    }

    .social-media {
        margin-top: 10px;

        a {
            color: #FFFFFF;
            margin: 0 10px;
            text-decoration: none;
            font-size: 1.5rem;

            &:hover {
                color: #06BFFF;
            }

            i {
                margin: 0 5px;
            }
        }
    }
}



.carousel-item img {

    object-fit: cover; 
    width: 100%;
    }

    .container img.w-100 {
        width: 100%;
        height: auto;
    }
    
    .text-center {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }

    .text-justify{
        font-family:$font2  ;
    }

    
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
    
    h1 {
        margin-top: 20px;
        font-size: 2.5rem;
        color: #333;
        font-family: 'Press Start 2P', cursive;
    }
    
    
    .fotos {
        margin-top: 20px;
    }
    
    .fotos .img-fluid {
        margin-bottom: 15px;
    }
    
    .my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }


    .btn-custom {
        background-color: $primary; // Cor verde base
        color: white; // Cor do texto
    }
    
    .btn-custom:hover {
        background-color: $terciaria;
    }
    
    .form-control {
        font: 20px $font1;
    }

    .label-name {
        font: 20px $font1;
        color: #000000;
    }


    
        
    
    
